/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #423cdc;
  --secondary-color: #7573ef;
  --accent-color: #e8e7fa;
  --shadow-color: #f1ecec;

  --content-padding:5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
